* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #dfcdcd;
}

.header {
font-size: 30px;
color: #4d2068;
text-align: center;
padding: 10px;
}

.nav-bar {
    font-size: 25px;
    color: #4d2068;
    text-align: center;
    border: 6px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
}
.nav-bar a {
    padding: 15px;
    text-decoration: none;
    font-weight: 800;
    flex: 1;
}